.footer{

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

}

.plano {

  margin: 20px 0px 50px 380px;
  width: 40%;

}

.plano > img {

  width: 60%;

}

.links{

    margin-left: 110px;
}
